.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  padding: 20vh 10px;
}
.container .img {
  width: 100px;
  height: 100px;
}
.container .title {
  margin-top: 5vh;
}
.container .title p:nth-child(1) {
  margin-bottom: 10px;
}
.container :global .am-result-pic {
  width: 100px;
  height: 100px;
}
.container :global .am-button {
  margin: 0 40px;
  margin-top: 3vh;
  border-radius: 50px;
  background-color: #97d9d5;
  color: #fff;
}
.container :global .am-button-active {
  background-color: #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .container :global html:not([data-scale]) .am-result::after {
    height: 0;
  }
}
.container .subButton :global(.am-button) {
  background-color: #cccccc;
}
