
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  // height: 300px;
  height: 100%;
  width: 100%;
  
  .welfareBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 2px solid #447788;
    padding: 10px 20px;
    width: 260px;
    img {
      height: 100px;
      width: 100px;
    }
    p {
      font-size: 22px;
      color: #447788;
    }
  }
  .welfareBtn:active {
    background-color: #ddd;
  }

  .salaryBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #447788;
    border-radius: 5px;
    border: 2px solid #73d7dc;
    padding: 10px 20px;
    width: 260px;
    img {
      height: 100px;
      width: 100px;
    }
    p {
      font-size: 22px;
      color: #fff;
    }
  }
  .salaryBtn:active {
    background-color: #ddd;
  }

}