.container {
  background-color: #c2d6d7;
  height: 100%;
  .headerBox {
    padding: 25px 20px;
    .header {
      height: 32px;
      border-radius: 32px;
      background-color: rgba(255,255,255,.4);
      display: flex;

      .headerItem {
        flex: 1;
        .flexCenter;
        span {
          font-size: 10px;
        }
      }
      .selectItem {
        background-color: #fff;
        border-radius: 32px;
      }
    }
  }

  .submit {
    &>div {
      .flexCenter;
    }
  }
}

.pre(@style,@value){
  -webkit-@{style}: @value;
  -o-@{style}:@args;
  -moz-@{style}: @value;
  -ms-@{style}: @value;
  @{style}: @value;
}

.flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}